{% extends 'base.html' %}
{%load static %}

{% block title %} Vitor Daniel - About {% endblock %}
{% block right %}rightPages{% endblock %}
{% block content %}
    <div class="containerAbout">
        <div class="titleWhoAbout">
            <p>Who am i ?</p>
        </div>
        <div class="description">
            {{profile.description | safe}}
        </div>
    </div>
    <div class="interests">
        <div class="interestsTitle">

            <p>Some of my strong points</p>

        </div>
        <ul class="interestsUl">
            {% for quality in profile.qualities.all %}
            <li><ion-icon name="{{quality.icon}}"></ion-icon>{{quality.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="skills">
        <div class="languages">
            <p class="interestsTitle">Languages</p>
            <div class="containerTechnology">
                {% for technology in languages %}
                    <div class="containerProgress">
                        <b class="technologyName">{{technology.name}}</b>
                        <div class="containerLogo">
                            <img class="imageBar" src="{{technology.image}}">
                            <div class="imageOverlay"></div>
                        </div>
                        <div class="verticalLine"></div>
                        <div class="containerWave">
                            <div class="water_wave" style='--percentageNumber: {{ technology.percentage}}%'>
                            </div>
                            <div class="percentage">
                                <span>{{technology.percentage}}%</span>
                            </div>
                        </div>
                        <div class="reflexBar"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="frameworks">
            <p class="interestsTitle">Frameworks/Libs</p>
            <div class="containerTechnology">
                {% for item in frameworks_libs %}
                <div class="containerProgress">
                    <b class="technologyName">{{item.name}}</b>
                    <div class="containerLogo">
                        <img class="imageBar" src="{{item.image}}">
                        <div class="imageOverlay"></div>
                    </div>
                    <div class="verticalLine"></div>
                    <div class="containerWave">
                        <div class="water_wave" style="--percentageNumber: {{item.percentage}}%">
                        </div>
                        <div class="percentage">
                            <span>{{item.percentage}}%</span>
                        </div>
                    </div>
                    <div class="reflexBar"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="curriculum">
        <img class="curriculumIcon" src="{% static 'assets/curriculum.png' %}">
        <div class="containerTextCurriculum">
            <h2 class="curriculumText">You can see my curriculum below</h2>
        </div>
        <a href="#" class="clickHere"><span></span>CLICK HERE !</a>
    </div>
</div>
{% endblock %}

