{% extends 'base.html' %}
{%load static %}

{% block title %} Vitor Daniel - Sobre {% endblock %}
{% block right %}rightPages{% endblock %}
{% block id %}id="about"{% endblock %}
{% block idLeft %}id="about"{% endblock %}
{% block onclick %}
    <div id="fade-about" class="hide"></div>
    <div id="info-project" class="hide">
        <div class="container-project-information-about" id="curriculum">
            <div class="container-curriculum" id="curriculum">
                <p id="close-curriculum" class="close-curriculum">X</p>
                <p class="curriculum-version">Qual versão você deseja ?</p>
                <div class="languages-options">
                    <a href="https://drive.google.com/file/d/1HZISQoG2DkgcsRaC0CU4U_CteTqKfhJE/view?usp=drive_link" target="_blank"><button class="btn-form-delete" id="curriculum" type="button">Português</button></a>
                    <a href="https://drive.google.com/file/d/1rl3XuGcoRtu2dN3iw2-hK0NIo6RG80q7/view?usp=drive_link" target="_blank"><button class="btn-form-delete" id="curriculum" type="button">Inglês</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="containerAbout">
        <div class="titleWhoAbout">
            <p>Quem sou eu ?</p>
        </div>
        <div class="description">
            {{profile.description | safe}}
        </div>
    </div>
    <div class="interests">
        <div class="interestsTitle">

            <p>Alguns dos meus pontos fortes</p>

        </div>
        <ul class="interestsUl">
            {% for quality in profile.qualities.all %}
            <li><ion-icon name="{{quality.icon}}"></ion-icon>{{quality.name}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="skills">
        <div class="languages">
            <p class="interestsTitle">Linguagens</p>
            <div class="containerTechnology">
                {% for technology in languages %}
                    <div class="containerProgress">
                        <b class="technologyName">{{technology.name}}</b>
                        <div class="containerLogo">
                            <img class="imageBar" src="{{technology.image.url}}">
                            <div class="imageOverlay"></div>
                        </div>
                        <div class="verticalLine"></div>
                        <div class="containerWave">
                            <div class="water_wave" id="water_wave_{{ forloop.counter }}" data-percentage="{{ technology.percentage }}">
                            </div>
                            <div class="percentage" nonce="nonce-{{CSP_NONCE}}">
                                <span>{{technology.percentage}}%</span>
                            </div>
                        </div>
                        <div class="reflexBar"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="frameworks">
            <p class="interestsTitle">Frameworks/Libs</p>
            <div class="containerTechnology">
                {% for item in frameworks_libs %}
                <div class="containerProgress">
                    <b class="technologyName">{{item.name}}</b>
                    <div class="containerLogo">
                        <img class="imageBar" src="{{item.image.url}}">
                        <div class="imageOverlay"></div>
                    </div>
                    <div class="verticalLine"></div>
                    <div class="containerWave">
                        <div class="water_wave" id="water_wave_{{ forloop.counter }}" data-percentage="{{ item.percentage }}">
                        <!-- <div class="water_wave" id="water_wave-{{technology.id}}" onload="setWavePercentage('{{item.percentage}}, {{item.id}}')"> -->
                        </div>
                        <div class="percentage" nonce="nonce-{{CSP_NONCE}}">
                            <span>{{item.percentage}}%</span>
                        </div>
                    </div>
                    <div class="reflexBar"></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="curriculum">
        <div class="containerTextCurriculum">
            <h2 class="curriculumText">Você pode ver meu currículo abaixo</h2>
        </div>
        <a href="#" class="clickHere" id="clickHere"><span></span>CLIQUE AQUI !</a>
    </div>
</div>
{% block scripts%}
    <script src="{% static 'js/toggleCurriculum.js' %}" defer></script>
    <script src="{% static 'js/controlWave.js' %}"></script>
{% endblock %}
{% endblock %}

