{% extends 'base.html' %}
{%load static %}

{% block title %} Vitor Daniel - Contatos {% endblock %}
{% block right %}rightPages{% endblock %}
{% block content %}
<div class="rightPages">
    <div class="titleContact">
        <h2 class="title1Contact">Vamos resolver alguns problemas juntos ?</h2>
        <h4 class="title2Contact">Me encontre em alguns destes canais</h4>
    </div>
    <div class="containerContacts">
        {% for contact in contacts %}
            <div class="contactItens">
                <ion-icon name="{{contact.social_media.icon}}" class="iconContact"></ion-icon>
                <p>{{contact.social_media.name}}: </p>
                {% if contact.social_media.is_link %}
                    {% if contact.social_media.name == "Email"%}
                        <a href="mailto:{{contact.identification}}" class="linkContact" target="_blank">Clique aqui para enviar um email</a>
                    {% elif contact.social_media.name == "Whatsapp" %}
                        <a href="https://wa.me/{{ contact.identification }}" class="linkContact" target="_blank">Enviar mensagem no WhatsApp</a>
                    {% else %}
                        <a href="{{contact.identification}}" class="linkContact" target="_blank">Clique aqui</a>
                    {% endif %}
                {% else %}
                    <p class="linkContact">{{contact.identification}}</p></p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
