{% extends 'base_authenticated_pages.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container-login">
    {% if user.is_authenticated %}
    <div class="container-logged-message">
        <h1>Você já está logado!</h1>
        <p>Se você quiser deslogar, por favor <a href="{% url 'logout' %}">clique aqui</a></p>
    </div>
    {% else %}
        <h1>Login</h1>
        {% if auth_error %}
        <p class="error-message">{{auth_error}}</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}" class="forms-authenticated">
            {% csrf_token %}
            <div class="container-input">
                <label for="username">Username: </label>
                <input name="username" type="text" placeholder="Insira seu username">
            </div>
            <div class="container-input">
                <label for="password">Password: </label>
                <input name="password" type="password" placeholder="Insira sua senha">
            </div>
            <button type="submit" class="btn-form">Logar</button>
        </form>
    </div>
    {% endif %}
{% endblock %}
