{%extends 'base_authenticated_pages.html'%}
{%block title%}Informações Cadastrais{%endblock%}
{% load static %}
{%block content%}
    {% if user.is_authenticated %}
    <div class="container-form-authenticated">
        {% if message_save_data_successfully %}
            <div class="container-logged-message" id="register-data">
                <p>{{message_save_data_successfully}}</p>
                <a href="{% url 'register_data'%}" class="btn-return-form" id="register-data"><button>Voltar</button></a>
            </div>
        {% else %}
            <h1>Informações Cadastrais</h1>
            <form method="post" action="" class="forms-authenticated" id="no-login">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn-form">Atualizar Informações</button>
            </form>
            <a href="{% url 'profile'%}" class="btn-return-form"><button>Voltar</button></a>
        {% endif %}
    </div>
    {% else %}
        <p>{{message_auth_error}}</p>
        <meta http-equiv="refresh" content="3;url={% url 'index'%}">
    {% endif %}
{% endblock %}
