{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'register_data' %}">Alterar dados cadastrais</a>
        </div>
        <div>
            <a a href="{% url 'personal_data' %}">Alterar dados pessoais</a>
        </div>
    {% else %}
        <p>Você precisa estar autenticado para acessar esta página.</p>
        <meta http-equiv="refresh" content="3;url={% url 'index'%}">
    {% endif %}
</body>
</html>

