<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet"/> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@100;500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="containerProgress">
        <b class="technologyName">HTML</b>
        <div class="containerLogo">
            <img class="imageBar" src="assets/html.png">
            <div class="imageOverlay"></div>
        </div>
        <div class="verticalLine"></div>
        <div class="containerWave">
            <div class="water_wave" style="--percentageNumber:65%">
            </div>
            <div class="percentage">
                <span>65%</span>
            </div>
        </div>
        <div class="reflexBar"></div>
    </div>
</body>
    <!-- <script>
        // Obter o elemento de porcentagem
        const percentageElement = document.getElementById('dynamicPercentage');

        // Obter o valor da porcentagem como número
        const percentageValue = parseInt(percentageElement.textContent);

        // Definir a variável CSS --percentage com o valor da porcentagem
        document.documentElement.style.setProperty('--percentage', percentageValue);
    </script> -->
    <!-- <script src="js/progress.js"></script> -->
</html>