<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet"/> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@100;500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="containerWave">
        <div class="water_wave"></div>
        <div class="percentage">
            <p>80%</p>
        </div>
    </div>
    <div class="containerWave">
        <div class="water_wave" style="--percentageNumber:60%"></div>
        <div class="percentage">
            <p>60%</p>
        </div>
    </div>
</body>
<script src="js/progress.js"></script>
</html>
